<footer class="b-footer">
	<div class="copyright col-1-4">
		2013 Makemydress
	</div>
	<div class="products-menu col-1-4">
		<ul>
			<li class="point"><a href="#" class="gray-link">Свадебные платья</a></li>
			<li><a href="#" class="gray-link">Вечерние платья</a></li>
			<li><a href="#" class="gray-link">Аксессуары</a></li>
		</ul>
	</div>
	<div class="about-menu col-1-4">
		<ul>
			<li class="point"><a href="#" class="gray-link">Качество</a></li>
			<li><a href="#" class="gray-link">Доставка и оплата</a></li>
			<li class="point"><a href="#" class="gray-link">Вопрос-ответ</a></li>
			<li><a href="#" class="gray-link">Контакты</a></li>
		</ul>
	</div>
	<div class="social col-1-4">
		<ul>
			<li class="social-ico-1"><a href="#">Вконтакте</a></li>
		</ul>
	</div>
</footer>