<footer class="b-footer">
	<div class="copyright col-1-4">
		2013 Makemydress
	</div>
	<div class="products-menu col-1-4">
		<ul>
			<li class="point"><%= link_to @types.first.name, type_path(@types.first), class: "gray-link"  %></li>
			<li><%= link_to @types.second.name, type_path(@types.second), class: "gray-link"  %></li>
		</ul>
	</div>
	<div class="about-menu col-1-4">
		<ul>
			<li class="point"><a href="/quality" class="gray-link">Качество</a></li>
			<li><a href="/shipping" class="gray-link">Доставка и оплата</a></li>
			<li class="point"><a href="faq" class="gray-link">Вопрос-ответ</a></li>
			<li class="point"><a href="contacts" class="gray-link">Контакты</a></li>
			<li><a href="about" class="gray-link">О нас</a></li>
		</ul>
	</div>
	<div class="social col-1-4">
		<ul>
			<li class="social-ico-1"><a href="https://vk.com/clubmakemydress">Вконтакте</a></li>
		</ul>
	</div>
</footer>
</div>