<div class="wrapper">
	<header class="b-header">
		<div class="logo col-1-4">
			<%= link_to root_path do%>
				<h1 class="hide-text">Makemydress</h1>
			<% end %>
		</div>
		<div class="col-1-2">
			<nav class="about-menu">
				<a class="black-link" href="/quality">Качество</a>
				<a class="black-link" href="/shipping">Доставка и оплата</a>
				<a class="black-link" href="/faq">Вопрос-ответ</a>
				<a class="black-link" href="/contacts">Контакты</a>
			</nav>
			<nav class="products-menu">
				<% @types.each do |s| %>
					<%= link_to s.name, products_path(s.alias), class: "black-link" %>
				<% end %>
			</nav>
		</div>
		<div class="col-1-4">
			<b class="phone">096 000-38-92</b>
		</div>
	</header>