<div class="b-popup f-q<%=id%> hidden">
	<div class="close">×</div>
	<div class="b-slider fotorama" data-width="100%" data-background="#222" data-zoomToFit="false" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0"> 
		<% (1..count).each do |i| %>
			<%= image_tag "pages/quality/#{name}-#{i}.jpg" %>
		<% end %>
	</div>
</div>