<div class="b-popup f-q4 hidden">
	<div class="close">×</div>
	<div class="b-slider fotorama" data-width="100%" data-background="#222" data-zoomToFit="false" data-fitToWindowHeight="true" data-fitToWindowHeightMargin="0"> 
		<% @review_images.each do |image|  %> 
			<%= image_tag image %>
		<% end %>
	</div>
</div>
<% case @review %>
<% when 1 %>
<section class="b-review">
	<div class="col-1-3 review-image" data-slider="f-q4">
	</div>
	<div class="col-2-3 review">
		<span>
			<a href="#" class="small">Ира Шелковая</a>
			<p class="small">Огромное спасибо за платье! Качество супер! Пошили круче оригинала! Доставка вовремя. Все замечательно!<br/>Спасибо, Катюша, за платье моей мечты:*</p>
		</span>
	</div>
</section>
<% when 2 %>
<section class="b-review">
	<div class="col-1-3 review-image" data-slider="f-q4">
	</div>
	<div class="col-2-3 review">
		<span>
			<a href="#" class="small">asdfas</a>
			<p class="small">asdfasdf</p>
		</span>
	</div>
</section>
<% else %>
<% end %>