<section class="b-review">
	<div class="col-1-3 review-image" data-slider="f-q4" style="background-image:url(<%= asset_path "review-#{photo}.jpg" %>)">
	</div>
	<div class="col-2-3 review">
		<span>
			<%= link_to reviewer_name, url, class: "small" %>
			<%= content_tag :p, review_text, class: "small" %>
		</span>
	</div>
</section>