<section class="b-taglines <%= parent %>">
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-blades">Подгонка</h5>
		<p class="small">Наш мастер сможет подогнать платье за 2—3 дня.</p>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-size">По вашим меркам</h5>
		<p class="small">Платье изготовляются по вашим меркам и сядет идеально.</p>
	</div>
	<div class="tagline quality">
		<h5 class="tagline-ico tagline-ico-quality">Качество</h5>
		<p class="small">Все платья шьются на лучшей фабрике в Китае из качественных материалов.</p>
		<div class="samples">
			<div class="sample-item q1" data-slider="f-q1"></div>
			<div class="sample-item q2" data-slider="f-q2"></div>
			<div class="sample-item video q3" data-slider="f-q3"></div>
		</div>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-date">Сроки</h5>
		<p class="small">Пошив и доставка занимают 25—40 дней. Возможно срочное выполнение заказа.</p>
		<ul class="no-on-home">
			<li>15–25 дней (+ 500 грн)</li>
			<li>7 дней (+ 1000 грн)</li>
		</ul>
	</div>
	<div class="clr no-on-home"></div>
	<div class="tagline ">
		<h5 class="tagline-ico tagline-ico-diamond">Украшения</h5>
		<p class="small">Вся вышивка выполняется вручную из бисера, стекляруса и кристаллов Сваровски.</p>
	</div>
	<div class="tagline no-on-home">
		<h5 class="tagline-ico tagline-ico-diamond">Цвета</h5>
		<p class="small">Цвет платья вы можете выбрать сами.</p>
	</div>
</section>