<section class="b-taglines <%= parent %>">
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-blades">Подгонка</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-size">По вашим меркам</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline quality">
		<h5 class="tagline-ico tagline-ico-quality">Качество</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
		<div class="samples">
			<div class="sample-item q1" data-slider="f-q1"></div>
			<div class="sample-item q2" data-slider="f-q2"></div>
			<div class="sample-item video" data-slider="f-q3"></div>
		</div>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-date">Сроки</h5>
		<p class="small">Платье изготавливается по вашим меркам или по стандартным размерам за 25 – 40 дней.</p>
		<ul class="no-on-home">
			<li>15–25 дней (+ 500 грн)</li>
			<li>7 дней (+ 1000 грн)</li>
		</ul>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-diamond">Украшения</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
</section>