<section class="b-taglines <%= parent %>">
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-blades">Подгонка</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-size">По вашим меркам</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-quality">Качество</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-date">Сроки</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline">
		<h5 class="tagline-ico tagline-ico-diamond">Украшения</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
</section>