<%= render 'products/b-categories', type: type, designers: designers, styles: styles unless @selection %>
<section class="products-list clr">
	<%= render products, thumb: thumb %>
	<%= render 'shared/b-nexterp', :text => "Листать дальше" %>
</section>