<section class="b-product-about">

	<div class="look col-1-2">
		<div class="photo">
			<div class="zoom"></div>
			<%= image_tag @product.attached_images.first.image.url, data: {width: @product.attached_images.first.width, height: @product.attached_images.first.height} %>
		</div>
	</div>
	<div class="col-1-2">
		<h1><%= @product.autoname %></h1>
		<div class="description">
			<p><%= @product.description %></p>
		</div>
		<%= render 'form' %>
	</div>
</section>
<div class="clr"></div>