</div>
<article class="p-about">
	<div class="leftpic"></div>
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>О нас</h1>
				<p>Подготовку к&nbsp;свадьбе каждая невеста начинает с&nbsp;подбора платья. Именно так я&nbsp;и&nbsp;поступила, когда мой будущий муж сделал мне предложение.</p>
			</header>
			<p>После посещения энного количества салонов, я&nbsp;была уверенна, что свадебного платья у&nbsp;меня не&nbsp;будет. Казалось, в&nbsp;Киеве десятки салонов, но&nbsp;я&nbsp;так и&nbsp;не&nbsp;смогла выбрать из&nbsp;всего этого изобилия то&nbsp;единственное! Салоны, пытаясь сэкономить, закупают гигантские размеры платьев, а&nbsp;невестам приходится только представлять, как&nbsp;бы оно могло сесть.</p>
			<p>Меня очень поразило отношение консультантов к клиенту. Мне хамили, меня не&nbsp;могли услышать.</p>
			<p>Создавая наш интернет-салон я&nbsp;прежде всего хотела, чтобы влюбленные невесты могли найти у&nbsp;нас именно то&nbsp;единственное платье. Платье, сшитое по&nbsp;вашей фигуре, в&nbsp;котором вы&nbsp;будете неотразимой и&nbsp;счастливой, зная, что это платье ваше и&nbsp;никто другой до&nbsp;вас его не&nbsp;одевал.</p>
			<p>Мы&nbsp;сотрудничаем с&nbsp;фабрикой, которая создает свадебные и&nbsp;вечерние платья с&nbsp;1999&nbsp;года.</p>
			<p>Платья шьем из&nbsp;аталаса, кружева, шифона, органзы, фатина самых разных силуэтов. Заказываем платья только самого высокого качества Lux. Шьем реплики платьев: Rosa Clara, Alma Novia, Pronovias, San Patrick, Aire Barcelona, Luna Novia, Vera Wang, Two by&nbsp;Rosa Clara, Kittychen Couture, Maggie Sottero, Papilio, Vera Wang, Enzoani, Allure Bridals. Изготавливаем платья по&nbsp;фотографиям или эскизам.</p>
			<p>Выбор платья&nbsp;&mdash; это очень трепетный момент для каждой невесты. Мы&nbsp;поможем подобрать невесте фасон, цвет, аксессуары. У&nbsp;нас нет планов &laquo;втюхать&raquo; платье, конечно&nbsp;же последнее слово за&nbsp;вами. У&nbsp;нас есть мастер, который если нужно подгонит платье по&nbsp;фигуре.</p>
			<p>Пока нет планов заниматься организацией свадеб, но&nbsp;будем рады посоветовать стилиста, фотографа, видео оператора, которых знаем лично и&nbsp;в&nbsp;ком уверенны.</p>
		</section>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">