</div>
<article class="p-contacts">
	<div class="leftpic"></div>
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>Контакты</h1>
				<p>Подготовку к&nbsp;свадьбе каждая невеста начинает с&nbsp;подбора платья. Именно так я&nbsp;и&nbsp;поступила, когда мой будущий муж сделал мне предложение.</p>
			</header>
		</section>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">