</div>
<article class="p-contacts">
	<div class="leftpic"></div>
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>Контакты</h1>
				<p>Пообщаться по телефону <strong>096 000-38-92</strong>.</p>
				<p>Обменяться сообщениями по почте <a href="mailto:contact@makemydress.com.ua">contact@makemydress.com.ua</a>.</p>
				<p>Подружиться в <a href="https://www.facebook.com/groups/472792082786928/?fref=ts">Фейсбуке</a> или <a href="http://vk.com/lasposa">Вконтакте</a>.</p>
			</header>
		</section>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">