</div>
<%= title "Вопрос-ответ" %>
<article class="p-faq">
	<div class="leftpic"></div>
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>Вопрос-ответ</h1>
				<p>Каждый день нам задают много вопросов в почте и социальных сетях. Здесь мы постарались ответить на самые частые.</p>
			</header>
			<div class="question">
				<h4>Вы сдаете платья в прокат?</h4>
				<div class="faq-name">Яночка</div>
				<p>К сожалению, платья в прокат не сдаем, так как все платья изготавливаются индивидуально.</p>
			</div>
			<div class="question">
				<h4>Что делать если платье не подойдет по размеру?</h4>
				<div class="faq-name">Ксения</div>
				<p>Все платья шьются по вашим индивидуальным меркам. В случае, если платье будет сидеть не идеально, наш мастер его подгонит.</p>
			</div>
			<div class="question">
				<h4>Какие сроки изготовления и доставки платьев?</h4>
				<div class="faq-name">Ольга</div>
				<p>Срок изготовления и доставки 25&mdash;40 дней с момента получения заявки. Срочное выполнение заказа: 15&mdash;25 дней (дополнительно 500 грн.) или 7&mdash;10 дней (дополнительно 1000 грн.)</p>
			</div>
			<div class="question">
				<h4>Насколько соответствуют платья на картинке тому, что я получу в итоге?</h4>
				<div class="faq-name">Ольга</div>
				<p>Мы гарантируем 97% соответствие платьев оригиналу. Но следует знать, что фото платьев из каталогов проходят множество обработок и в реальности могут отличаться. Поэтому при заказе платья все пожелания детально оговариваются. <a href="/quality">Здесь</a> вы можете лучше ознакомиться с качеством наших платьев.</p>
			</div>
			<!-- <div class="question">
				<h4>Как правильно снять мерки?</h4>
				<div class="faq-name">Алеся</div>
				<p>Для правильного снятия рекомендуется обратиться к нам. Если Вам не удобно подъехать, можно снять самостоятельно или обратиться за помощью к маме, подружке или снять в ателье у мастера. Инструкция описана в разделе......</p>
			</div> -->
			<div class="question">
				<h4>Какие гарантии, что я получу платье?</h4>
				<div class="faq-name">Алеся</div>
				<p>При оформлении заказа мы заключаем двусторонний договор купли-продажи, в котором прописаны права и обязанности сторон, предоставляемые услуги, характеристики товара, условия и сроки оплаты и достаки товара. Этот договор является вашей гарантией.</p>
			</div>
			<div class="question">
				<h4>Можно заказывать из других городов, кроме Киева и Чернигова?</h4>
				<div class="faq-name">Виктория</div>
				<p>Рекомендуем приехать к нам. Eсли это не удобно, можно заказать удаленно. Для этого, мы вышлем вам форму заказа, а платье перешлем по почте.</p>
			</div>
			<div class="question">
				<h4>Кто производит платья?</h4>
				<div class="faq-name">Виктория</div>
				<p>Платья шьются на лучшей фабрике в Китае. Используются качественный плотный атлас, сатин, органза, фатин, тафта, шёлк, шифон, кружево. Для отделки платья используют стеклярус, бусины, бисер, пайетки, кристаллы Swarovski.</p>
			</div>
			<div class="question">
				<h4>У вас есть платья больших размеров?</h4>
				<div class="faq-name">Маша</div>
				<p>Да, конечно, мы можем пошить платье любого размера.</p>
			</div>
			<div class="question">
				<h4>Какая предоплата при заказе платья?</h4>
				<div class="faq-name">Виктория</div>
				<p>Предоплата составляет 75 % от стоимости.</p>
			</div>
			<div class="question">
				<h4>У вас есть платья образцы, чтобы оценить качество?</h4>
				<div class="faq-name">Ксения</div>
				<p>Конечно, вы можете позвонить по телефону 096 000-38-92 и договориться о встрече.</p>
			</div>
			<div class="question">
				<h4>У меня есть фотография понравившегося платья. Вы сможете его изготовить?</h4>
				<div class="faq-name">Алеся</div>
				<p>Да, конечно. Для пошива платья по фотографии необходимо фото платья хорошего разрешения, чтобы можно было рассмотреть детали или название модели или марка платья.</p>
			</div>
			<div class="question">
				<h4>Что входит в стоимость платья?</h4>
				<div class="faq-name">Надя</div>
				<p>В стоимость входит снятие мерок, материалы, изготовление, доставка в Украину, подгонка платья (если необходимо).</p>
			</div>
			<div class="question">
				<h4>Какой фасон платья мне подойдет?</h4>
				<div class="faq-name">Надя</div>
				<p>Перед тем как заказывать платье у нас, лучше всего посетить несколько салонов в вашем городе, чтобы определиться какое платье вам подходит лучше всего.</p>
			</div>
		</section>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">