<article>
	<section>
		<header>
			<h1>Качество наших платьев</h1>
			<p>Makemydress — качественные свадебные и вечерние платья сделанные по вашим или стандартным размерам на лучшей фабрике Китая. Технология изготовления позволяет шить любые платья по фотографиям или вашим эскизам. Вся отделка платьев изготовляется вручную из бисера и кристаллов Сваровски. </p>
		</header>
	</section>
</article>