</div>
<article class="p-shipping">
	<div class="leftpic"></div>
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>Доставка и оплата</h1>
				<h2>Доставка</h2>
				<p>Срок выполнение заказа занимает 25-40 дней. Он зависит от сложности изготовления платья и наличия вышивки.</p>
			</header>
			<p>Возможно выполнить срочный заказ за 15-25 дней (дополнительно 500 грн) или за 7-15 дней (дополнительно 1000 грн).</p>
			<blockquote>
				<h6 style="letter-spacing: 1px;">ВАЖНО</h6>
				<p>В горячие сезоны с апреля—сентябрь возможность выполнения срочного заказа нужно уточнять. Если платье нужно подогнать по фигуре, это займет еще несколько дней.</p>
			</blockquote>	
			<p>Такое ответственное задание, как доставка свадебных и вечерних платьев, мы доверили только проверенным компаниям. В Украину платья доставляют компании DHL и TNT. По Украине мы работаем с Новой Почтой, Интайм.</p>
			<h2>Оплата</h2>
			<p>Оплата происходит в 2 этапа:</p>
			<ol type="1">
				<li><p>при оформлении заказа необходимо внести 75% от стоимости платья;</p></li>
				<li><p>остальная сумма — при получении платья.</p></li>
			</ol>	
			<p>Деньги вы можете передать лично, безналичным расчетом или денежным переводом Western Union или MoneyGram.</p>
		</section>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">