</div>
<article class="p-shipping">
	<div class="leftpic"></div>
	<div class="wrapper">
		<section class="col-7-12 mar-l-25">
			<header>
				<h1>Доставка и оплата</h1>
				<h2>Доставка</h2>
				<p>Срок выполнение заказа занимает 25&mdash;40 дней. Он зависит от сложности изготовления платья и наличия вышивки.</p>
			</header>
			<p>Возможно выполнить срочный заказ за 15&mdash;25 дней (дополнительно 500 грн) или за 7&mdash;15 дней (дополнительно 1000 грн).</p>
			<blockquote>
				<p>В горячие сезоны, с апреля по сентябрь, возможность выполнения срочного заказа нужно уточнять. Подгонка платья нашим мастером займет еще 2–3 дня, если необходимо.</p>
			</blockquote>	
			<p>В Украину платья доставляют надежные и проверенные компании <abbr>DHL</abbr> и <abbr>TNT</abbr>. По Украине доставляем Новой Почтой или Интайм.</p>
			<h2>Оплата</h2>
			<p>Оплата происходит в 2 этапа:</p>
			<ol type="1">
				<li>при оформлении заказа необходимо внести 75% от стоимости платья;</li>
				<li>остальная сумма &mdash; при получении платья.</li>
			</ol>	
			<p>Деньги вы можете передать лично, безналичным расчетом или денежным переводом Western Union или MoneyGram.</p>
			<h2>Гарантии</h2>
			<p>С каждым клиентом мы заключаем договор купли-продажи, в котором детально описываем права и обязанности сторон, характеристики товара, необходимые изменения модели (если есть), сроки выполнения заказа.</p>
			<p>Фабрика и мы гарантируем 97% соответствие платьев оригиналу. Мы гарантируем, что платье идеально сядет на вашу фигуру. Мы сотрудничаем с мастером, который с легкостью подгонит платье за 2–3 дня, при необходимости.</p>
			<h2>Возврат</h2>
			<p>Свадебные и вечерние платья возврату не подлежат. За исключением:</p>
			<ul>
				<li>наличии дефектов;</li>
				<li>несоответствие цвета, размера по нашей вине.</li>
			</ul>
			<p>В этом случае платье подлежит возврату в течении 3-х рабочих с момента получения заказа. Клиенту возмещается уплаченная сумма или замена платья.</p>
			<p>После обнаружения брака, клиент обязан предоставить детальные фото дефектов (фото на себе или на манекене с сантиметровой лентой).</p>
			<blockquote>
				<p>К возврату принимаются вещи, не подвергавшиеся носке. Браком не считается, если клиент не правильно указал свои размеры.</p>
			</blockquote>
			<p>Мы сотрудничаем с мастером, который подгонит платье, чтобы вы были неотразимой в этот важный день!</p>
		</section>
	</div>
</article>
<div style="clear:both"></div>
<div class="wrapper">