@import "shared";

body,html{
  height:100%;
}
.admin-header{
	position: fixed;
	width: 100%;
	height: 40px;
	padding: 10px 4%;
	background-color: #333;
	top: 0;
	z-index: 3;
	.menu{
		margin-left: -10px;
		div{
			display: inline-block;
			a{
				color: #bbb;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 13px;
				line-height: 20px;
				padding: 3px 10px;
				letter-spacing: 1px;
				font-weight: bold;
			}
			&.active a{
				pointer-events: none;
				background-color: #222;
				color: #999;
				border-radius: 10px;
				box-shadow: 0 1px 2px rgba(black, 0.8) inset, 0 1px 0 rgba(white, 0.1);
			}
			&.current a{
				background-color: #222;
				color: #bbb;
				border-radius: 10px;
				box-shadow: 0 1px 2px rgba(black, 0.8) inset, 0 1px 0 rgba(white, 0.1);
			}
		}
		a:hover{
			color: white;
		}
	}
	.logout{
		color: #bbb;
		float: right;
		text-decoration: none;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		margin-right: -5px;
		margin-top: 2px;
		&:hover{
			color: white;
		}
	}
}
.admin-content{
	box-sizing: border-box;
	padding: 66px 4% 0 4%;
	width: 100%;
	.b-product{
		position: relative;
		width: 129px;
		height: 237px;
		&:nth-child(5n){
			padding: 15px 15px 0 0;
		}
	}
	.delete{
		position: absolute;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		color: white;
		padding: 0 5px;
		background-color: rgba(black, 0.1);
		&:hover{
			background-color: rgba(black, 0.2);
			color: $hover-link-color;
		}
	}
	.add-product{
		width: 65px;
		height: 122px;
		border: 3px dashed #ddd;
		float: left;
		margin-top: 15px;
		margin-right: 19px;
		text-align: center;
		font-size: 18px;
		padding: 25px 20px 0;
		font-weight: bold;
		color: #aaa;
		display: block;
		text-decoration: none;
		&:before{
			content: "+";
			display: block;
			font-size: 64px;
			font-weight: bold;
			line-height: 52px;
			color: #ddd;
		}
		&:hover{
			color: $hover-link-color;
			border-color: $hover-link-color;
		}
		&:hover:before{
			color: $hover-link-color;
		}
	}
	.add-type{
		height: 30px;
		border: 3px dashed #ddd;
		margin-right: 19px;
		text-align: center;
		font-size: 16px;
		padding: 1px 20px;
		font-weight: bold;
		color: #aaa;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 10px;
		&:before{
			content: "+";
			font-size: 28px;
			font-weight: bold;
			line-height: 28px;
			vertical-align: -2px;
			margin-right: 5px;
			color: #ddd;
		}
		&:hover{
			color: $hover-link-color;
			border-color: $hover-link-color;
		}
		&:hover:before{
			color: $hover-link-color;
		}
	}
}
.admin-footer{
	width: 100%;
	height: 60px;
}
.black-button{
	border-radius: 3px;
	border: 1px solid black;
	padding: 2px 8px;
	text-decoration: none;
	color: #ddd;
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
}
table{
	width: 100%;
	tr{
		td{
			padding: 10px 0;
			.delete{
				position: absolute;
				text-decoration: none;
				font-size: 18px;
				font-weight: bold;
				color: white;
				padding: 0 5px;
				margin-left: -25px;
				line-height: 19px;
				background-color: rgba(black, 0.1);
				&:hover{
					background-color: rgba(black, 0.2);
					color: $hover-link-color;
			}
		}
		}
	}
}
.input_action{
	.submit{
		display: inline-block;
	}
} 