<div style="height:70px"></div>
<div class="wrapper posts">
	<article class="col-7-12 mar-l-25">
		<header>
			<h1><%= @post.title %></h1>
		</header>
		<section>
			<%= markdown @post.body %>
		</section>
	<%= link_to "Edit post", edit_admin_post_path(@post) %>
	</article>
</div>