<section class="b-taglines">
	<div class="tagline col-1-5">
		<i class="tagline-ico-1"></i>
		<h5>Качество</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline col-1-5">
		<i class="tagline-ico-2"></i>
		<h5>По вашим меркам</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline col-1-5">
		<i class="tagline-ico-3"></i>
		<h5>Сроки</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline col-1-5">
		<i class="tagline-ico-4"></i>
		<h5>Украшения</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
	<div class="tagline col-1-5">
		<i class="tagline-ico-5"></i>
		<h5>Подгонка</h5>
		<p class="small">Платья изготовляются на лучшей Китайской фабрике из лучших материалов.</p>
	</div>
</section>