@import 'shared';
.b-categories{
	padding-top: 0px;
	h4{
		margin-bottom: 6px;
	}
	.categorie{
		margin-left: -5px;
		padding-bottom: 5px;
		div{
			display: inline-block;
			a{
				display: block;
				font-size: 13px;
				padding: 0 5px;
				line-height: 20px;
				color: black;
				&:hover{
					color: $hover-link-color;
				}
			}
			&.active{
				background-color: $buy-wrapper-color;
				box-shadow: 0 1px 1px rgba(black, 0.2) inset;
				border-radius: 3px;
				pointer-events: none;
				a{
					text-decoration: none;
				}
			}
			&.current{
				background-color: $buy-wrapper-color;
				box-shadow: 0 1px 1px rgba(black, 0.2) inset;
				border-radius: 3px;
			}
		}
	}
}