.b-footer > *{
	font-size: 14px;
	line-height: 22px;
}
.b-footer{
	overflow: auto;
	padding: 25px 0 25px;
	ul{
		list-style: none;
		li{
			display: inline-block;
			&:before{
				content: none;
			}
		}
	}
	ul li.point:after{
		content:"·";
		font-weight: bold;
		color: #888;
		display: inline-block;
		margin: 0 0px 0 4px;
	}
	.social-ico-1:before{
		position: absolute;
		margin-top: 2px;
		margin-left: -19px;
		content: "";
		display: inline-block;
		background: image-url("icons/s-vk.png") no-repeat;
		width: 16px;
		height: 16px;
	}
}