@import "shared";
.b-product-about{
	padding-top: 10px;
	overflow: auto;
	.look{
		.photo{
			background-color: #aaa;
			height: 570px;
			width: 430px;
		}
	}
	.about{
		.description{
			padding-right: 20px;
			p{
				line-height: 22px;
			}
		}
		.code{
			color:$gray-link-color;
			line-height: 10px;
			margin-bottom: 15px;
		}
		.buy-wrapper{
			height: 180px;
			background-color: $buy-wrapper-color;
			border: solid 6px $buy-wrapper-d7color;
			box-shadow: 0 0 0 5px $buy-wrapper-color inset, 0 0 0 7px $buy-wrapper-d7color inset; 
			padding: 40px 20px;
			text-align: center;
			.price{
				font-size: 21px;
				font-weight: bold;
				padding-bottom: 10px;
			}
		}
	}
}