.b-product-about{
	overflow: auto;
	.look{
		padding-right: 5%;
		.photo{
			background-color: #aaa;
			height: 550px;
			width: 100%;
		}
	}
	.about{
		.description{
			padding-right: 20px;
			p{
				line-height: 22px;
			}
		}
		.buy-wrapper{
			height: 180px;
			background-color: #ddcbb5;
			border: solid 6px #c9b3a3;
			box-shadow: 0 0 0 5px #ddcbb5 inset, 0 0 0 7px #c9b3a3 inset; 
			padding: 20px;
			.price{
				text-align: center;
				font-size: 21px;
				font-weight: bold;
			}
		}
	}
}