@import "shared";
.b-review{
	overflow: auto;
	padding-top: 19px;
	margin-bottom: 20px;
	.review-image{
		cursor: pointer;
		height: 109px;
		background: center 0 no-repeat;
		&:hover{
			box-shadow: 0 0 0 5px $buy-wrapper-color inset;
		}
	}
	.review{
		padding: 0 5%;
		border: solid 2px #e3e3e3;
		border-left: none;
		height: 109px;
		display: table;
		span{
		  vertical-align: middle;
		  display: table-cell;
		}
	}
}