@import 'shared';
.b-taglines{
	padding-top: 25px;
	overflow: auto;
	width: 100%;
	padding-bottom: 25px;
	.tagline{
		ul{
			li{
				font-size: 13px;
				padding-bottom: 10px;
			}
		}
		float: left;
		padding-right: 22px;
		.tagline-ico:before{
			content:"";
			display: block;
			width: 55px;
			height: 55px;
			background-color: #333;
			margin-bottom: 8px;
			-webkit-transition: all 1s;
		}
		.tagline-ico-quality:before{background-image: image_url("icons/mp-quality.png");}
		.tagline-ico-size:before{background-image: image_url("icons/mp-size.png");}
		.tagline-ico-date:before{background-image: image_url("icons/mp-date.png");}
		.tagline-ico-diamond:before{background-image: image_url("icons/mp-diamond.png");}
		.tagline-ico-blades:before{background-image: image_url("icons/mp-blades.png");}
	}
	.tagline:hover .tagline-ico:before{background-color: #ff7fd9;}	
}
.b-taglines.home{
	.tagline{
		width: 20%;
	}
	.no-on-home{
		display: none;
	}
}
.b-taglines.product-description{
	.tagline{
		width: 50%;
		margin-bottom: 5px;
		.tagline-ico:before{
			content: none;
		}
	}
	.quality{
		display: block;
		.samples{
			padding-top: 10px;
			.sample-item{
				display: inline-block;
				width: 30%;
				height: 65px;
				background-color: #aaa;
				margin-right: 2%;
				border: 5px solid #ccc;
				position: relative;
				cursor: pointer;
				margin-bottom: 10px;
				&.video:after{
					content: "";
					position: absolute;
					width: 41px;
					height: 41px;
					background: image_url("video.png");
					left: 50%;
					margin-left: -20px;
					margin-top: 7px;
				}
				&.q1{background: image_url("f-q1.png") center center;}
				&.q2{background: image_url("f-q2.png") center center;}
				&.q3{background: image_url("f-q3.png") center center;}
				&:hover{
					border-color: $buy-wrapper-d7color;
				}
			}
			.sample-item:last-child{
				margin-right: none;
			}
		}
	}
}