@import "shared";
$btnc1: #caa573;
$btnc2: #b68a52;
$btnc3: #d3b987;
$btncs: #a17e51;
$btnc : #fff1de;
.button{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	background-color: #eee;
	padding: 2px 6px;
	color: #333;
	font-weight: bold;
}
.sexy-button{
	border: darken($btnc3, 7%) 1px solid;
	box-shadow: 0 1px 0 rgba($btncs, 1);
	@include gradient3($btnc3, $btnc2, $btnc1);
	padding: 7px 30px;
	color: $btnc;
	text-shadow: 0 1px 0 rgba(darken($btncs,10%), 1);
	font-size: 18px;
	&:hover{
		color: white;
		@include gradient3(lighten($btnc3,2%), lighten($btnc2,1%), lighten($btnc1,3%));
	}
	&:active{
		color: darken($btnc, 5%);
		@include gradient(darken($btnc2, 10%), lighten($btnc2,5%));
		-webkit-transition: none;
	}
}
.inline-errors{
	position: relative;
	margin-left: 116px;
	width: 72.5%;
	font-family: Calibri, sans-serif;
	background-color: $buy-wrapper-color;
	font-size: 14px;
	line-height: 18px;
	padding: 5px 10px;
	&:after{
		content: "";
		display: block;
		position: absolute;
		top:-7px;
		left: 10%;
		margin-left: -8px;
		z-index: 2;
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $buy-wrapper-color;
	}
}

.b-product-about{
	form{
		legend{
			display: block;
			padding: 20px 0 10px;
			font-size: 24px;
			line-height: 32px;
			font-weight: bold;
		}
		label{
			text-align: left;
			width: 100px;
		}
		input{
			outline: none;
			border-radius: 0;
		}
		.under-form{
			font-size: 14px;
			color: #999;
			line-height: 21px;
			padding-right: 20px;
			width: 80%;
			padding-top: 5px;
		}
		li{
			padding-top: 15px;
			margin-left: 0;
			input[type="text"], input[type="tel"], input[type="email"]{
				width: 70%;
			}
		}
		.sizes{
			position: relative;
			legend{
				cursor: pointer;
				display: block;
				color: $link-color;
				margin: 30px 0 13px;
				span{
					border-bottom: 1px dotted $link-color;
				}
			}
			ol{
				padding-bottom: 20px;
				display: none;
			}
			li{
				padding: 0;
				margin: 0;
				margin-left: 0;
				display: block;
				&:after{
					content: "см";
					position: absolute;
					margin-left: -23px;
					margin-top: 4px;
					color: #999;
				}
				label{
					float: left;
				}
				input{
					border: none;
					margin-bottom: 7px;
					border-bottom: 1px dotted #ccc;
					width: 15%;
					padding-right: 25px;
					text-align: right;
					box-shadow: none;
					padding-bottom: 0;
				}

			}
			.measure-instractions{
				position: absolute;
				top: 50px;
				width: 210px;
				height: 480px;
				margin-left: 52%;
				margin-top: 30px;
				background: image_url("measures.png") 0 0 no-repeat;
				.text{
					position: absolute;
					bottom: 0;
				}
			}
		}

		.buy-wrapper{
			margin-top: 20px;
			background-color: $buy-wrapper-color;
			border: solid 3px $buy-wrapper-d7color;
			padding: 5px 20px 20px 113px;
			#order_submit_action input{
				border: darken($btnc3, 7%) 1px solid;
				display: inline-block;
				font-family: Calibri;
				border-radius: 3px;
				box-shadow: 0 1px 0 rgba($btncs, 1);
				@include gradient3($btnc3, $btnc2, $btnc1);
				padding: 7px 30px;
				color: $btnc;
				text-shadow: 0 1px 0 rgba(darken($btncs,10%), 1);
				font-size: 18px;
				&:hover{
					color: white;
					@include gradient3(lighten($btnc3,2%), lighten($btnc2,1%), lighten($btnc1,3%));
				}
				&:active{
					color: darken($btnc, 5%);
					@include gradient(darken($btnc2, 10%), lighten($btnc2,5%));
					-webkit-transition: none;
				}
			}
		}
	}
}

