// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.window{
	width:330px;
	padding: 30px;
	margin: 150px auto 0;
	border-radius: 10px;
	box-shadow: 0 10px 40px rgba(black, 0.2);
}