@import "shared";

h1{
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 9px;
}
h2{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 8px;
}
h3{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 16px;
	font-weight: bold;
}
h5{
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
}
h6{
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
}
p{
	font-size: 16px;
	line-height: 24px;
}
p.small, a.small{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 10px;
}
ul{
	li{
		list-style: none;
		&:before{
			content:"—";
			display: inline;
			margin-right: 0.313em;
		}
	}
}
ol{
	li{
		margin-left: 23px;
	}
}
blockquote{
	background-color: $buy-wrapper-color;
	border: solid 3px $buy-wrapper-d7color;
	box-shadow: 0 0 0 3px $buy-wrapper-color inset, 0 0 0 5px $buy-wrapper-d7color inset; 
	padding: 17px 25px 10px;
	margin: 25px 0 30px -20%;
}
a{
	color: $link-color;
}
a:hover{
	color: $hover-link-color;
}
.black-link{
	color: black;
}
.gray-link{
	color: $gray-link-color;
}
.pseudo-link{
	text-decoration: none;
	border-bottom: 1px dotted $link-color;
}
.pseudo-link:hover{
	border-bottom-color: $hover-link-color;
}