$blue: #1b95db;
$red: #e9167e;

h1{
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 9px;
}
h2{
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 16px;
}
h3{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 16px;
	font-weight: bold;
}
p{
	font-size: 16px;
	line-height: 24px;
}
a{
	color: $blue;
}
a:hover{
	color: $red;
}
.black-link{
	color: black;
}
.pseudo-link{
	text-decoration: none;
	border-bottom: 1px dotted $blue;
}
.pseudo-link:hover{
	border-bottom-color: $red;
}