<header class="admin-header">
	<div class="col-1-5">
		<%= link_to "Add new product", new_admin_product_path, :class => "black-button"  %>
	</div>
	<%= link_to("Log out", log_out_path, :class => "logout icon-off") %>
</header>
