<header class="admin-header">
	<nav class="col-3-5 menu">

		<%= nav_link "â†", root_url %>
		<%= nav_link "Products",  admin_products_url %>
		<%= nav_link "Styles",  admin_styles_url %>
	</nav>
	<%= link_to("", log_out_path, :class => "logout icon-off") %>
</header>
