<section class="b-categories">
	<div class="col-1-2">
	<div class="module">
		<h4>Дизайнеры</h4>
		<ul>
			<% designers.each do |designer| %>
				<li><%= link_to designer.name, products_designers_path(params[:type_alias], designer.alias)  %></li>
			<% end %>    
		</ul>
	</div>
</div>
<div class="col-1-2">
	<div class="module">
		<h4>Фасоны</h4>
		<ul>
			<% styles.each do |style| %>
				<li><%= link_to style.name, products_styles_path(params[:type_alias], style.alias)  %></li>
			<% end %>    
		</ul>
	</div>
</div>
</section>