</div>
<section class="b-slider fotorama" data-height="365px" data-width="100%" data-background="#f8f8f8" data-minWidth="940px" data-cropToFit="true" data-nav="none" style="height:365px;">
<div class="promo" data-img="/assets/11.jpg">
	<h1><a href="/dress" class="black-link">Платья в стиле «Рыбка»</a></h1>
	<p>Основные особенности платьев в бальном стиле — корсетный лиф, украшенный кристаллами, стразами или жемчугом. Корсет может быть отдельным от юбки, а может составлять часть целого платья. </p>
</div>
<div class="promo" data-img="/assets/11.jpg">
	<h1>Платья в стиле «Русалка»</h1>
	<p>Основные особенности платьев в бальном стиле — корсетный лиф, украшенный кристаллами, стразами или жемчугом. Корсет может быть отдельным от юбки, а может составлять часть целого платья. </p>
</div>
</section>
<div class="wrapper">