</div>
<section class="b-slider fotorama" data-height="365px" data-width="100%" data-background="#f8f8f8" data-minWidth="940px" data-cropToFit="true" data-nav="none" style="height:365px;">
<div class="promo" data-img='<%= asset_path "slider/1.jpg"%>'>
	<h1><a href="http://www.makemydress.com.ua/products/146-rima" class="black-link">Платье принцесса<br />Aire Barcelona</a></h1>
	<p>Платье принцесса со шлейфом, открытым верхом, без бретелек, прямым вырезом, пышной юбкой, c вышивкой в области талии.</p>
</div>
<div class="promo promo-right" data-img='<%= asset_path "slider/3.jpg"%>'>
	<h1><a href="http://www.makemydress.com.ua/products/167-vera" class="black-link">Платье а-силуэт<br />Aire Barcelona</a></h1>
	<p>Платье а-силуэт со шлейфом, открытым верхом, без бретелек, вырезом в форме сердечка и атласным поясом.</p>
</div>
<div class="promo" data-img='<%= asset_path "slider/4.jpg"%>'>
	<h1><a href="http://www.makemydress.com.ua/products/133-relato" class="black-link">Платье прямое<br />Aire Barcelona</a></h1>
	<p>Платье прямое со шлейфом, открытым верхом, без бретелек, фигурным вырезом.</p>
</div>
</section>
<div class="wrapper">