<div class="b-type-chooser">
	<!-- <h3>Шьем <a href="#" class="pseudo-link chosen">свадебные</a> и <a href="#" class="pseudo-link">вечерние платья</a> выскокого качества по вашим меркам за 10—40 дней.</h3> -->
	<h3>Шьем свадебные платья <a href="/quality">высокого качества</a> по вашим меркам за <a href="/shipping">10—40 дней</a>.</h3>
</div>