<div class="b-type-chooser">
	<h3>Шьем <a href="#" class="pseudo-link chosen">свадебные</a> и <a href="#" class="pseudo-link">вечерние платья</a> выскокого качества по вашим меркам за 10—40 дней.</h3>
</div>