<div class="b-type-chooser">
	<h3>Шьем <a href="#" class="pseudo-link chosen" data-type="1">свадебные</a> и <a href="#" class="pseudo-link" data-type="0">вечерние платья</a> выскокого качества по вашим меркам за 10&#8202;–&#8202;40 дней.</h3>
</div>