<div class="b-product">
	<%= link_to product_path(product) do %>
		<%= image_tag product.attached_images.first.image.url(:thumb5) %>
		<%= product.name %>
	<% end %>
	<%= return_price(product.price) %>
</div>