<div class="photo">
	<div class="zoom"></div>
	<%= image_tag images.first.image.url, alt: "#{product.autoname} #{product.code}", data: {width: images.first.width, height: images.first.height} %>
</div>

<% if (images.count) > 1%>
	<div class="thumbs">
		<%= render 'product_thumb-set', images: images_original, label: "Оригинальные фото" %>
		<% unless images_replica.empty? %>
		<%= render 'product_thumb-set', images: images_replica, label: "Фото наших реплик" %>
		<% end %>
	</div>
<% end %>

