<section class="tizers">
	<%= render 'b-tizer' %>
	<%= render 'b-categories', designers: @designers, styles: @styles %>
<section class="products-list">
	<%= render @products %>
	<%= render 'shared/b-nexter', :text => "Выбрать свадебное платье" %>
</section>