<section class="b-product-about">
	<div class="look col-1-2">
		<div class="look">
			<div class="photo">
				
			</div>
		</div>
	</div>
	<div class="about col-1-2">
		<h1>Платье алайн из шифона с длинным шлейфом</h1>
		<p class="code">LB312304</p>
		<div class="description col-1-2">
			<p>Джинсы клеш с потёртостями. Классические передние карманы, задние карманы — накладные. Фурнитура медного цвета, ширинка на молнии, усиленный пояс на одной пуговице, с кожаным лейблом и прямыми петлями для ремня.</p>
		</div>
		<div class="buy-wrapper col-1-2">
			
		</div>
	</div>
</section>
